@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: "Edu NSW ACT Cursive", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

.logo>svg {
    background-color: aqua;
    border-radius: 3px;
    width: 1.5em;
    height: 1.5em;
    color: blue;

    /* display: none; */
}

nav {
    width: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    background-color: aquamarine;
    font-size: 1.75rem;

}

nav>ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    /* justify-content: space-around; */
    align-items: center;
    font-size: 1.2rem;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav>ul>li>a {
    text-decoration: none;
}

a {
    display: inline-block;
    transition: transform 0.25s ease, color 0.25s ease;
}

a:hover {
    transform: scale(1.1);
    color: red;
}

main {
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.container {
    width: 70vw;
    margin: auto;
    text-align: center;
    /* border: 2px solid black; */
}

.oneliner {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: skyblue;
    /* font-family: "Edu NSW ACT Cursive", cursive;  */
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.searchbox {
    margin: 2rem;
    /* height: 2rem; */
}

.searchbox>input {
    /* height: 2.5rem; */
    width: 35vw;
    height: 3rem;
    padding: 0 1.5rem;
    /* padding-top: 0rem ; */
    border-radius: 24px;
    outline-color: #2EC4B6;
    border: 3px solid #7FE3D1;
    font-size: 1.1rem;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;

}

.searchbox>input::placeholder {
    line-height: 1.5;
    font-family: "Playwrite NZ Basic", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #64748b;
    font-size: 1rem;
    /* padding-bottom: 2rem; */
    text-align: left;
}

.Books-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.book {
    width: 21vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 4px 24px 3px rgba(7, 24, 101, 0.08);
    padding: 1.5rem 0;
    /* padding-left: 1rem; */
    border-radius: 12px;
    gap: 1rem;
}

.book>div:first-child {
    margin: auto;

}

.book img {
    width: 8rem;
}

.bookname {
    margin-left: 2rem;
    font-size: 1.1rem;
}

.price {
    margin-left: 2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.1rem;
}

.Buy {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    border: 2px solid #CBD5E1;
    color: #64748B;
    background-color: #F1F5F9;
    border-radius: 12px ;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    transition: transform 0.25s ease, color 0.25s ease;
    cursor: pointer;
}
.Buy:hover{
    transform: scale(1.04);
}
.cart {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    border: 2px solid aquamarine;
    border-radius: 12px ;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: aquamarine;
    color: green;
    transition: transform 0.25s ease, color 0.25s ease;
    cursor: pointer;
}
.cart:hover{
    transform: scale(1.04);
}

.book > div:last-child{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 100%;
}