*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

.banner {
    background: #bd6a4f;
    text-align: center;
}
nav svg{
    height: 1.3rem;
    fill: currentColor;
  /* stroke: currentColor; */
}
.navigation{
    display: flex;
    width: 70vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.navigation > ul{
    list-style: none;
    display: flex;
    /* justify-content: space-around; */
    gap: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.75rem 0;
}
.navigation > ul:last-child{
    gap: 1.5rem;
    padding-right: 1rem;
}

/* .navigation >ul:last-child > li:last-child > svg{
    width: ;
} */

nav{
    background: #9fb29b;
    position: relative;
}
/* .navigation > ul:first-child{
    position: relative;
} */
.tittle{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 2.3rem;
    font-weight: 600;
    
    /* padding: 0.5rem; */
}
.tittle > a{
    text-decoration: none;
    color: #ffffff;
}
header{
    color: #ffffff;
}
main{
    background: #f4f1e9;
    min-height: 90vh;
}
.content{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    /* align-items:center ; */
}
.your-cart{
    font-size: 3rem;
    text-align: center;
    padding: 2rem 0;
    font-weight: 500;
}
.parent{
    text-align: center;
    font-size: 1.4rem;
    
}
.child{
    display: grid;
    grid-template-columns: 1fr 4fr 10vw 10vw ;
}
.seperator{
    width: 100%;
    border: 2px solid #e2ded6;
    margin: 0.5rem;
}
img{
    height: 7.5rem;
    margin: 0.5rem;
    user-select: none;
}
.bookname{
    margin: auto;
    margin-left: 3rem;
    font-size: larger;
    font-weight: 500;
}
.Quantity{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    border: 2px solid #e2ded6;
    padding: 0.5rem 1rem;
    align-items: center;
}
.Quantity > div{
    font-family: sans-serif;
    user-select: none;
}
.Quantity > div:first-child ,.Quantity > div:last-child{
    font-family: sans-serif;
    color: #c5c1ba;
    font-size: 1.5rem;
}
.child > div:last-child{
    margin: auto;
    margin-right: 0;
}
.Price{
    font-size: 1.2rem ;
    font-weight: 500;
    padding-bottom: 0.3rem;
    font-family:"Open Sans", sans-serif;
}
.Total{
    
    padding-top: 1.3rem;
    margin-right: 0.2rem;
}
.Checkout{
    text-align: center;
    font-size: 1.5rem;
    background-color: #bc6b50;
    width: 20vw;
    margin-top: 2rem;
    padding: 0.2rem 5.5rem;
    align-self: flex-end;
    color: #ffffff;
    transition: transform 0.25s ease;
    user-select: none;
    /* transform: translate(1rem); */
}
#total{
    text-align: start;
    font-weight: 550;

}
.Checkout:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.hover{
    cursor: pointer;
    transition: transform 0.25s ease;
}
.scale:hover{
    transform: scale(1.2);
    /* background: #000; */
}